.postCard {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.btnContainer {
  display: flex;
  flex-direction: row-reverse;
}

main {
  background-color: white;
}
