@import '~antd/dist/antd.css';

.sign-In {
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.sign-Up {
  
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



.footer {
 position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#999;
   font-family: 'Roboto', sans-serif;
}


body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,121,9,1) 48%, rgba(0,212,255,1) 99%);
}

.sign-In-Body {
     background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,121,9,1) 48%, rgba(0,212,255,1) 99%);
}

