.container{
    display: flex;
}

.navBar{
    justify-items: baseline;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}
.navBtns{
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}
.navHeader{
    color: white;
    display: inline-block;
    position: absolute;
    right: 55px;
    font-family: 'Roboto', sans-serif;
}

/* body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,121,9,1) 48%, rgba(0,212,255,1) 99%);
} */
