main {
  background-color: white;
}
input,
button {
  color: black;
}

.ant-layout-content{
  overflow-y: scroll;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;

}
.ant-layout-has-sider{
  display: grid;
  grid-template-columns: 2fr 1fr;

}
.messageFeed {
  color: lightgrey;
  max-width: 100%;
}
.commentBtn {
  padding: 0px;
}
.ant-card-body {
  padding: 5px;
}
.postCard {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.footer {
 position:fixed;
   left:0px;
   bottom:0px;
   /* height:1000px; */
   width:100%;
   background:#999;
   font-family: 'Roboto', sans-serif;
}