main {
  background-color: white;
}

input {
  margin: 5px;
}

.mainHeader {
  text-align: center;
}

.ant-layout-has-sider {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  grid-template-areas: 'body body comment';
  height: 100vh;
  width: 100vw;
}

.ant-layout-content {
  grid-area: body;
  overflow-y: scroll;
  height: 82vh;
}

.ant-layout-sider-children {
  grid-area: comment;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 82vh;
}

.commentBtn {
  padding: 0px;
}
.ant-card {
  padding: 5px;
  margin: 5px;
}

.commentBody {
  text-align: left;
  margin: 0px;
}

.ant-card-body {
  padding: 0px;
  text-align: right;
}

.ant-btn {
  margin: 5px;
  size: small;
}

.postCard {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: #999;
  font-family: 'Roboto', sans-serif;
}
